
/* ==========================================================================
   YOUR custom styles
   ========================================================================== */

section {
  width: 100%;
  border: 1px solid black;
  min-height: 400px;
  padding: 40px 20px;
}

.divs div {
  border: 1px solid black;
}

.two-column, .three-column, .four-column {
  display: flex;
  flex-direction: row;
}

.single-column {
  min-height: 40px;
}

.two-column div {
  width: 50%;
  float: left;
  min-height: 40px;
}

.three-column div {
  width: 33.3%;
  float: left;
  min-height: 40px;
}

.four-column div {
  width: 25%;
  min-height: 40px;
  float: left;
}
